<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToolKit - Tools at your fingertips</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link rel="shortcut icon" href="./images/favicons/fire.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>🔥ToolKit</h1>
      <nav>
        <ul id="navList"></ul>
      </nav>
      <div id="utils">
        <div class="themeSwitcher">
          <div class="moon">
            <button>
                <i class="ri-moon-clear-line"></i>
            </button>
          </div>
          <div class="sun hidden">
            <button>
                <i class="ri-sun-fill"></i>
            </button>
          </div>
        </div>
        <div class="github">
          <button>
            <i class="ri-github-fill"></i>
          </button>
        </div>
      </div>
    </header>

    <script src="./javascripts/script.js"></script>
  </body>
</html>
