<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToolKit - Tools at your fingertips</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      href="./images/favicons/fire.svg"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="hero">
      <header>
      <h1>🔥ToolKit</h1>
      <nav>
        <ul id="navList"></ul>
      </nav>
      <div id="utils">
        <div class="themeSwitcher">
          <div class="moon">
            <button class="theme-btn">
              <i class="ri-moon-clear-line"></i>
            </button>
          </div>
          <div class="sun hidden">
            <button class="theme-btn">
              <i class="ri-sun-fill"></i>
            </button>
          </div>
        </div>
        <div class="github">
          <button>
            <i class="ri-github-fill"></i>
          </button>
        </div>
      </div>
    </header>
      <div id="heroContent">
        <span>Completely <strong>FREE</strong> and <u>no sign up</u> experience at you desk! </span>
        <h1>Tools at your fingertips</h1>
        <p>
          A collection of tools to make your life easier. From calculators to
          converters, <br> And from .pdf converters to mergers we have it all.
        </p>
        <a href="#tools" class="btn">Explore</a>
      </div>
    </div>

    <script src="./javascripts/navigationBarScript.js"></script>
    <script src="./javascripts/themeSwitcher.js"></script>

    <script>
      const theme = localStorage.getItem("theme");

      if (theme === "dark") {
         document.body.classList.remove("light");
      document.body.classList.add("dark");
        moonDiv.classList.add("hidden");
        sunDiv.classList.remove("hidden");
      } else {
        document.body.classList.add("light");
      document.body.classList.remove("dark");
        sunDiv.classList.add("hidden");
        moonDiv.classList.remove("hidden");
      }
    </script>
  </body>
</html>
