<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%> Page</title>
</head>
<body>
    <h1><strong>Title:</strong> <%=title%></h1>
    <p><strong>message:</strong> <%=message%> </p>
    <p><strong>status:</strong> <%=status%> </p>
    <a href="/"><button>Go back to Home</button></a>

</body>
</html>